* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #fff;
  color: #222;
  text-align: center;
  overflow-x: auto;
}

.nav {
  width: 90vw;
  position: relative;
}

.back-btn {
  position: absolute;
  top: 1vh;
  font-size: 4vh;
  color: rgb(107, 241, 62);
}

.nav-text {
  font-size: 1.5vh;
  display: inline-block;
  width: 100%;
  color: rgb(176, 176, 176);
}

.main {
  width: 90vw;
  margin: 3vh auto 15vh;
}

.title {
  font-size: 3vh;
  font-weight: 600;
  margin-top: 3vh;
  text-align: center;
}

.total-box {
  width: 100%;
  margin: 2vh 0 0 0;
  text-align: left;
  padding-bottom: 1vh;
}

.total-box .label {
  display: inline-block;
  width: 65%;
  font-size: 3vh;
  font-weight: 600;
}

.total-box .value {
  display: inline-block;
  width: 30%;
  text-align: right;
  font-size: 2.8vh;
  font-weight: 700;
}

.apply {
  background-color: #c6c6c6;
  border-radius: 1vh;
  padding: 1vh 2vw;
}

.section-title {
  text-align: left;
  font-size: 2.3vh;
  font-weight: 600;
  margin-bottom: 1vh;
}

.card {
  background-color: #fff;
  border: 0.2vh solid black;
  border-radius: 1vh;
  margin: 1.5vh 0;
  padding: 0.5vh 2vw;
  position: relative;
  text-align: left;
}

.card .left {
  display: inline-block;
  width: 55%;
  vertical-align: top;
}

.card .right {
  display: inline-block;
  width: 35%;
  text-align: right;
  border: 0.4vh solid #f6c948;
  border-radius: 1vh;
  font-weight: 700;
  font-size: 2.8vh;
  padding: 0.2vh 1vw;
  margin-top: 0.6vh;
  margin-left: 3.5vh;
}

.right2 {
  display: inline-block;
  width: 30%;
  text-align: right;
  font-weight: 700;
  font-size: 2.8vh;
  padding: 0vh 0.5vw;
  margin-left: 6vh;
}

.card .heading {
  font-size: 3vh;
  font-weight: 700;
}

.card .sub {
  font-size: 1.5vh;
  color: gray;
}

.club {
  border-color: #fff;
}

.tag {
  position: absolute;
  font-size: 1.4vh;
  padding: 0.3vh 11vw;
  border-radius: 1vh 1vh 0 0;
  background-color: black;
  color: rgb(246, 182, 62);
  font-weight: 540;
}

.adjusted {
  top:-2.7vh;
  right: 1vw;
}

.applied {
  top: 5.3vh;
  right: 1vw;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.smart {
  background: #222;
  color: #f6c948;
  border: 0.3vh solid #37c93b;
  font-size: 2vh;
  padding: 1vh 5vw;
}

.reset {
  background: #f6c948;
  color: #222;
  border: 0.3vh solid #37c93b;
  font-size: 2vh;
  font-weight: 100;
  padding: 1vh 5vw;
}

.summary {
  margin-top: 3vh;
}

.sum-row {
  font-size: 2vh;
  font-weight: 500;
}

.box {
  width: 100%;
  text-align: center;
}

.label-1 {
  display: inline-block;
  width: 55%;
  font-size: 2.2vh;
  font-weight: 600;
  margin-left: 5vh;
}

.box .label {
  display: inline-block;
  width: 55%;
  font-size: 2.2vh;
  font-weight: 600;
}

.box .value-1 {
  display: inline-block;
  width: 25%;
  padding-right: 2.5vh;
  text-align: right;
  font-size: 2.2vh;
}

.box .value {
  display: inline-block;
  width: 25%;
  text-align: right;
  font-size: 2.2vh;
}


.continue {
  background: #f6c948;
  border: 0.3vh solid #37c93b;
  padding: 1.5vh 0;
  font-size: 4vh;
  text-align: center;
  margin-top: 2vh;
  width: 80%;
}

.footer {
  position: fixed;
  bottom: -1.5vh;
  left: 40%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 85vw;
  background: #fff;
  padding: 2vh 2vw;
  z-index: 100;
  text-align: center;
}

.footer .left-icon,
.footer .right {
  display: flex;
  gap: 1.5vw;
  align-items: center;
  justify-content: flex-start;
}

.footer .left-icon {
  float: left;
}

.footer .right {
  float: right;
  font-size: 1.3vh;
  position: relative;
  left: 25%;
}

.footer .left-icon .calculator,
.footer .right .text {
  height: 7vh;
  width: 7vh;
  background: rgb(246, 182, 62);
  display: inline-block;
  line-height: 4vh;
  font-size: 4vh;
  font-weight: 100;
  text-align: center;
  padding-top: 1.5vh;
}

.reset-link {
  display: inline-block;
  height: 3.4vh;
  width: 7vh;
  text-align: center;
  line-height: 3.4vh;
  background-color: rgb(246, 182, 62);
  font-weight: 100;
  text-decoration: none;
  color: black;
  font-size: 1.6vh;
}
